.banner {
    width: 100%;
    height: auto;

}

.pictures img {
    width: 200px;
    border-radius: 50%;
    margin: 75px;
    border: 10px solid black;
}

body {
    text-align: center;
    background-color: gray;
}