@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: "Poppins", Helvetica, sans-serif;
    color: #A9D6E5;
}

.logo {
    width: 250px;
}

#endo_link {
    padding-top: 5px;
    justify-self: center;
}

nav a {
    text-align: center;
    padding: 80px;
    text-decoration: none;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #013A63;
    font-size: 1.25em;
}

nav a:hover {
    background-color: #A9D6E599;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font-family: "Roboto Slab", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #013A63;
}

header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #013A6366;
}

.about {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: 100px 1fr .5fr;
    justify-items: center;
}

.plan {
    text-decoration: none;
    color: white;
}

.plan:hover {
    color: #2A6F97;
}

.home {
    grid-column: 1/5;
}

.bio {
    padding: 15px;
    grid-column: 2/4;
}

.family {
    grid-column: 3/4;
   justify-self: left;
   margin-left: 15px;
}

.portrait {
    grid-area: 2/2/3/3;
    justify-self: right;
    margin-right: 15px;
}

.rootcanal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.what {
    margin-left: 100px;
    align-items: center;
    align-content: center;
}

.micro {
    grid-column: 2/3;
}

.steps {
    text-align: left;
}

h2 {
    color: #2A6F97;
}

footer {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", Helvetica, sans-serif;
    background-color: #013A63;
    color: white;
    align-items: center;
}

.foot-text {
    font-weight: bold;
}

form {
    max-width: 40rem;
}

form label,
form, input,
form textarea,
form button {
    display: block;
    width: 20rem;
    margin: 0;
}

form input,
form textarea,
form button {
    padding: 0.75rem;
}

form input,
textarea {
    margin-bottom: 00.75rem;
}

.form {
    margin-bottom: 25px;
    margin-left: 50px;
}

.faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.insurance {
    grid-area: 2/1/3/2;
    text-align: left;
    margin-left: 50px;
}

.insurancepar {
    grid-area: 3/1/4/2;
    text-align: left;
    margin-left: 50px;
}

.finance {
    grid-area: 4/1/5/2;
    text-align: left;
    margin-left: 50px;
}

.financepar {
    grid-area: 5/1/6/2;
    text-align: left;
    margin-left: 50px;
}

.staff {
    grid-area: 2/2/6/3;
    justify-self: center;
}

.slogan {
    grid-area: 5/2/6/3;
    margin-left: 250px;
    margin-right: 250px;
    color: white;
}

.question-title {
    text-align: left;
}