* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    display: flex;
    justify-content: space-between;
}